@media screen and (max-width: 750px){
    .full-card {
        width: 90% !important;
        height: 500px !important;
        margin: 30px auto !important;
    }
    
    .card-header {
        font-size: large !important;
        font-weight: 650 !important;
        padding: 30px 10px !important;
    }

    .card-body {
        font-size: large !important;
        padding: 5px 20px !important;
    }
}

.full-card {
    width: 60%;
    height: 550px;
    background-color: #eee;
    margin: 60px auto;
}

.input-form {
    display: inline;
}

.in-logo {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 0px 15px;
}

.in-task {
    margin: 10px 10px 30px 10px;
}

.card-head {
    display: flex;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    line-height: 36px;
    padding: 35px 15px 0px 15px;
}

.card-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    line-height: 35px;
    padding: 25px 15px;
}

a {
    color: #000;
    text-decoration: none;
    cursor:text;
}

.task-link {
    text-decoration: none;
    color:#3d5af1;
}
.task-link:hover {
    border-bottom: 3px solid #3d5af1;
    cursor: pointer;
}

.done {
    margin-left: 30px;
    font-weight: 600;
    display: inline;
    cursor: pointer;
}

.card-footer {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    font-size: x-large;
}

.footer-link {
    text-decoration: none;
    color:#3d5af1;
    cursor: pointer;
}

.loader-container {
    min-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}